<header class="flex items-center items-center justify-between">
  <a href="/"
    ><h1 class="font-bold prose prose-2xl text-emerald-600 mx-4">
      Voca-Learna
    </h1>
  </a>
  <nav class="flex">
    <button class="btn mx-2">
      <a href="/vocabList/createList">+ New List</a>
    </button>
    <button class="btn mx-2">
      <a href="/dashboard"><%= username %></a>
    </button>
    <button class="btn mx-2"><a href="/logout"> LOG OUT</a></button>
  </nav>
</header>
