<%- include('./partials/head')%>
  <body class="prose bg-gradient-to-r from-yellow-200 to-cyan-700">
    <%- include('./partials/header') %>
    <h1 class="text-emerald-600"><%= username %>'s Lists</h1>
    <button class="btn"><a href="/logout"> LOG OUT</a></button>
<%- include('./partials/footer')%>