<%- include('./partials/head') %>
<body class="prose bg-gradient-to-r from-yellow-200 to-cyan-700 p-8">
  <%- include('./partials/header') %>
  <h1 class="text-emerald-600">Create a Vocabulary List</h1>
  <main>
    <section class="list-creator">
      <section class="vocab">
        <form
          action="/vocablists/createVocabList"
          method="POST"
          class="vocab-header flex-col"
        >
          <div>
            <label class="block" for="unit">Enter "Unit" Name:</label>
            <input class="block" type="text" name="unit" placeholder="Unit" />
          </div>
          <div>
            <label for="wordList"
              >Enter Vocabulary Words: (Please enter one word per line)</label
            >
            <textarea
              rows="6"
              cols="45"
              name="wordList"
              placeholder="Vocabulary List"
            ></textarea>
          </div>

          <button type="submit">
            <span class="fas fa-plus"></span>Add Words to List
          </button>
          <!-- submit has a default button-->
        </form>
      </section>
    </section>
  </main>
  <%- include('./partials/footer')%>
