<%- include('./partials/head') %>
<body class="prose bg-gradient-to-r from-yellow-200 to-cyan-700 p-8">
  <%- include('./partials/header') %>
  <h1 class="text-emerald-600">WELCOME! <%= username %></h1>
  <%- include('./partials/footer')%>
</body>
