<%- include('./partials/head') %>
  <body class="prose bg-gradient-to-r from-yellow-200 to-cyan-700"> 
    <header>
      <a href="/"><h1 class="font-bold prose prose-2xl text-emerald-600">
          Voca-Learna</h1>
    </a>
    </header>
    <h1 class="text-emerald-600">Create Your VERY OWN Todolist!</h1>
    <button class="btn"><a href="/login"> Login</a></button>
    <button class="btn"><a href="/signup"> Signup</a></button>
    <%- include('./partials/footer')%>
