<%- include('./partials/head') %>
  <body class="prose bg-gradient-to-r from-yellow-200 to-cyan-700"> 
    <header>
      <a href="/"><h1 class="font-bold prose prose-2xl text-emerald-600">
          Voca-Learna</h1>
    </a>
    </header>
    <h1 class="text-emerald-600">Sign in</h1>
    <form action="/login" method="post">
        <section>
          <label for="username">Username</label>
          <input
            id="username"
            name="username"
            type="text"
            autocomplete="username"
            required
            autofocus
          />
        </section>
        <section>
          <label for="current-password">Password</label>
          <input
            id="current-password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
          />
        </section>
        <button type="submit">Sign in</button>
      </form>
<%- include('./partials/footer')%>

