<%- include('./partials/head') %>
<body class="prose bg-gradient-to-r from-yellow-200 to-cyan-700 p-8">
  <%- include('./partials/header') %>
    <h1 class="text-emerald-600">Sign up</h1>
    <form action="/signup" method="post">
      <section>
        <label for="username">Username</label>
        <input
          id="username"
          name="username"
          type="text"
          autocomplete="username"
          required
        />
      </section>
      <section>
        <label for="email">Email</label>
        <input
          id="email"
          name="email"
          type="text"
          autocomplete="email"
          required
        />
      </section>
      <section>
        <label for="new-password">Password</label>
        <input
          id="new-password"
          name="password"
          type="password"
          autocomplete="new-password"
          required
        />
      </section>
      <section>
        <label for="confirm-password">Confirm Password</label>
        <input
          id="confirm-password"
          name="confirmPassword"
          type="password"
          autocomplete="confirm-password"
          required
        />
      </section>
      <button type="submit">Sign up</button>
    </form>
    <%- include('./partials/footer')%>
